.hidden {
  display: none;
}

h1 {
  text-align: center;
}

#game-container {
  max-width: 800px;
  width: 100%;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

button {
  width: 200px;
  height: 25px;
  padding: 0.5em auto;
}

#reset-button {
  text-align: center;
  margin: 1.5em;

}

#scores-container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

#controls {
  height: 50px;
  padding: 1em;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

#history {
  max-width: 800px;
  width: 100%;
  min-width: 400px;
}